* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #4a4a4a;
}

.container {
  width: 100%;
  max-width: 1140px;
  padding: 0 10px;
}

section {
  margin-bottom: 20px;
}

section.hero {
  background: rgb(65, 185, 65);
  padding: 30px;
  color: white;
}

.hero-body h3.subtitle {
  font-weight: 300;
}

label {
  display: block;
  font-size: 1.25em;
}

input {
  display: block;
  width: 100%;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #dbdbdb;
  font-size: 1em;
}

.card {
  padding: 1.25rem;
  border-radius: 4px;
  /* box-shadow: 0 5px 10px rgb(210, 210, 210); */
  box-shadow: 0 0.5em 1em -0.125em rgb(10 10 10 / 10%),
    0 0 0 1px rgb(10 10 10 / 2%);
  margin-bottom: 25px;
}

.card h5.card-title {
  font-weight: 700;
  font-size: 1em;
}

.is-hidden {
  display: none;
}
